body{
    background-color: #531D8C;
    color: white;
}
p{
    text-align: justify;
}

.navbar-inverse{
    background-color: #260D40;
    border-bottom: #260D40;
    color: white;
}
aside{
    color: #333;
}